.buildpath
.hgignore.swp
.project
.orig
.swp
.env
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
**/config/config.yaml
logs/*
.idea
.idea/*
app.db
*.log
temp/*
backend/temp/*
.DS_Store
celerybeat-schedule.db
backend/log/*
.windsurf
.cursor
.settings
.vscode
config.yaml
# Added by goreleaser init:
dist/
